#home
{
	background: url(img/header-background.jpg) no-repeat fixed;
	background-size: cover;
}

#services
{
	background: #000 url(img/services-red.jpg) no-repeat fixed;
	background-size: cover;
}

#clients
{
	background: #000 url(img/clients.jpg) no-repeat fixed;
	background-size: cover;
    min-height: 600px;
}

.clients {
	text-align: center;
    margin-top: 120px;
}

.clients ::selection {
    background: #fff;
    color: #060606; 
}

.clients ::-moz-selection { 
    background: #fff;
    color: #060606; 
}

.clients li img {
	margin-bottom: 15px;
}

.clients a {
    display: block;
    font-size: 0.9333333333333em;
    font-weight: 300;
    margin-bottom: 20px;
    opacity: .5;
    filter: alpha(opacity=50); 
}

.clients a:hover {
    opacity: 1;
    filter: alpha(opacity=100); 
}

.clients-heading {
	margin-top: 30px;
}

.eov {
    height: 41px;
    margin-top: 35px;
}

.ked {
    height: 35px;
    margin-top: 35px;
}

.jrb {
    height: 35px;
    margin-top: 35px;
}

.icons .overview {
    width: 25%;
}

@media only screen and (max-width: 959px) {
    .icons .overview {
        width: 25%;
    }
}

@media only screen and (max-width: 767px) {
    .icons .overview { width: 50%; }
}

@media screen and (min-width: 640px) {
    .grid-4-parts {
        float: left;
        width: 30%;
        margin: 0 1.515151515152%;
    }
}
